log/*
temp/*
tests/_temp/*
vendor/*
!vendor/others
www/components

.DS_Store
.idea
nbproject

!.gitignore
!.htaccess
!web.config

app/config/config.local.neon
tests/tests.local.neon
tests/tmp/tests.log
coverage.html
coverage.xml

*.actual
*.expected

.ZZZ_*
phpW.ini
mysql.local.neon
testuj.bat
tests/tmp/*
composer.lock
