database:
	default:
		dsn: 'mysql:host=127.0.0.1;dbname=information_schema'
		user: root
		password: ''
		options: [PDO::MYSQL_ATTR_COMPRESS = true]


doctrine:
	metadata:
		App: %appDir%
	default:
		host: 127.0.0.1
		dbname: information_schema
		driver: pdo_mysql
		user: root
		password: ''


dbal:
	driver: mysqli
	host: 127.0.0.1
	database: information_schema
	username: root
	password: ''


extensions:
	migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
	- Symnedi\EventDispatcher\DI\EventDispatcherExtension #migrations


migrations:
	directory: %testsDir%/_helpers/Migrations
	namespace: Testbench\Migrations


testbench:
	migrations: yes
	sqls:
		- %testsDir%/_helpers/sqls/mysql_1.sql
		- %testsDir%/_helpers/sqls/mysql_2.sql
